@use "sass:map";

$colors: (
        primary: #609966,
        black: #000000,
        white: #ffffff,
        gray: #323234
);

//$color: $colors;
@function color($palette, $key) {
  @return map.get($palette, $key)
}
