@use "sass:map";

$colors: (
        primary: #002f34,
        secondary: #23e5db,
        black: #000000,
        white: #ffffff,
        gray: #323234,
        light-gray: #cbcbcd,
        gray-white: #f6f6f6,
        red: #bb3333,
        coral: #fff2f6
);

//$color: $colors;
@function color($palette, $key) {
  @return map.get($palette, $key)
}
