@import "./UI/styles/fonts";
@import "./UI/styles/variables";
@import "./UI/styles/animations";
@import "~bootstrap";

body{
  font-family: 'Roboto', sans-serif;
  background-color: color($colors, gray-white);
}

.btn-ryt {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  min-height: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 4px;

  &--width{
    width:100%;
    @include media-breakpoint-up(md){
      max-width: 300px;
    }
    @include media-breakpoint-up(lg){
      max-width: 400px;
    }
  }

  &--white {
    font-size: 15px;
    padding: 9px 20px;
    background-color: color($colors, white);
    border: solid 5px color($colors, white);
    color: color($colors, primary);
    transition: all 0.1s;

    &:hover {
      background-color: color($colors, primary);
      color: color($colors, white);
    }
  }
    &--green {
      padding: 9px 23px;
      background-color: color($colors, primary);
      border: solid 5px color($colors, primary);
      color: color($colors, white);
      transition: all 0.1s;

      &:hover {
        background-color: color($colors, white);
        color: color($colors, primary);
      }
    }
  &--red {
    padding: 9px 23px;
    background-color: color($colors, red);
    border: solid 5px color($colors, red);
    color: color($colors, white);
    transition: all 0.1s;

    &:hover {
      background-color: color($colors, white);
      color: color($colors, red);
    }
  }
}

  .input-ryt {
    outline: none;
    //border: 1px solid color($colors, light-gray);
    border: 0;
    border-radius: 4px;
    padding: 9px 8px;
    font-size:17px;
    width: 100%;
    background-color: color($colors, gray-white);
    &::placeholder{
      opacity: 0.5;
    }
    &--error {
      //border-color: color($colors, red);
      background-color: color($colors, coral);
      animation: bump 0.3s normal forwards ease-in-out;

    }
  }

  .label-ryt {
    color: color($colors, gray);
    font-size: 16px;
    margin-bottom: 7px;

    &--error {
      color: color($colors, red);
      animation: bump 0.3s normal forwards ease-in-out;
    }
  }

  .error-ryt {
    color: color($colors, red);
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    animation: bump 0.3s normal forwards ease-in-out;
  }

.color-ryt{
  color: color($colors, primary);
  text-decoration: none;
}

