@import '../../UI/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';


.offer-form{
  textarea{
    resize: none;
  }
  &--segment{
    background-color: color($colors, white);
  }
}
#input_title{
  @include media-breakpoint-up(md){
    max-height: 45px;
  }
}
#input_description{
  min-height:120px
}
#input_theme{
}
#input_price{
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
